<section>
   <% @users.each do |user| %>
   <div id="user-<%= user.id %>">
   <%= user.name %>
   <%= user.email %>
   <% end %>
   </div>
</section>
<%= link_to "Register as Users", new_user_path %>
